#elementsPanel {
    position: absolute;
    top: 45px;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 300px;
    box-sizing: border-box;
    padding: 15px 30px 15px 100px;
    color: #fff;
    background: #252627;
}

#elementsPanel input {
    background-color: #272c33;
    border: 0px;
    color: white;
}
#elementsPanel v-pane-header {
    background-color: #272c33;
    color: #8da8b8;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    font-size: 12px;
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 20px;
    border: 0px !important;
    margin-bottom: 10px;
}
#elementsPanel .vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
    right: 10px;
    background-color: #8da8b8;
}

#elementsPanel #fill-color, #elementsPanel #gradient, #elementsPanel #image {
    width: 100%;
    display: inline-block;
    height: 35px;
    border: 2px solid #3b7694;
    background-color: #263845;
    color: #3b7694;
    border-radius: 3px;
    margin-right: 5px;
    background-image: none;
    cursor: pointer;
}

#elementsPanel>menu {
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 0;
    z-index: 11;
    width: 35px;
    list-style: none;
    text-align: center;
    background: #72A230;
}
user agent stylesheetli {
    display: list-item;
    text-align: -webkit-match-parent;
}
li.search {
    margin: 0;
    border: 0 none #fff;
    padding: 0;
}

#elementsPanel>menu li {
    font-size: 70%;
    text-align: center;
    text-transform: uppercase;
}


#elementsPanel>.content {
    position: absolute;
    left: 35px;
    right: 0;
    top: 40px;
    bottom: 0;
    overflow: hidden;
    padding: 5px 18px 20px 10px;
    text-align: left;
    background-color: #3f4652;
}


article, blockquote, body, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, header, li, menu, nav, ol, p, section, ul {
    margin: 0;
    border: 0 none #fff;
    padding: 0;
}

user agent stylesheetarticle, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

#elementsPanel>menu a:hover, #elementsPanel>menu .on a {
    /*background-image: url(https://static.canva.com/static/images/icon_tabs_search_on.png); */
    color: #00d4db!important;
    -webkit-transform: none;
    transform: none;
    background-color: #3f4652;
}

#elementsPanel>menu .layout a:hover, #elementsPanel>menu .layout.on a {
    /*background-image: url(https://d28pzkwbso7p1u.cloudfront.net/ndDesigner/images/catalog/icon_tabs_layouts_on.png);*/
}

#elementsPanel>menu .search a:hover, #elementsPanel>menu .search.on a {
    /*background-image: url(https://d28pzkwbso7p1u.cloudfront.net/ndDesigner/images/catalog/icon_tabs_search_on.png);*/
}

#elementsPanel>menu .text a:hover, #elementsPanel>menu .text.on a {
    /*background-image: url(https://d28pzkwbso7p1u.cloudfront.net/ndDesigner/images/catalog/icon_tabs_text_on.png);*/
}

#elementsPanel>menu .backgrounds a:hover, #elementsPanel>menu .backgrounds.on a {
    /*background-image: url(https://d28pzkwbso7p1u.cloudfront.net/ndDesigner/images/catalog/icon_tabs_bgs_on.png);*/
}

#elementsPanel>menu .uploads a:hover, #elementsPanel>menu .uploads.on a {
    /*background-image: url(https://d28pzkwbso7p1u.cloudfront.net/ndDesigner/images/catalog/icon_tabs_uploads_on.png);*/
}

#elementsPanel>menu a {
    display: block;
    width: 35px;
    height: 120px;
    /*padding-top: 41px;*/
    box-sizing: border-box;
    /*background-image: url(https://d28pzkwbso7p1u.cloudfront.net/ndDesigner/images/catalog/icon_tabs_search.png);*/
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 50% 19px;
    color: #fff;
    text-decoration: none;
    transition: all .15s linear,opacity 0s linear;
}



#elementsPanel .vScrollTrack {
    top: -47px;
}

#elementsPanel .scrollThumb, .paletteToolbarWrapper .scrollThumb {
    /*background-color: #fff;*/
    border-width: 0;
    height: 7px;
    width: 7px;
}

#selectLayerContainer
{
  padding: 0px;
}

.elementsPanel-menu-label {
    transform: rotate(-90deg);
    width: 120px;
    /* height: 100px; */
    left: -40px;
    position: relative;
    top: 70px;
    right: 0px;
    /* font-size: smaller; */
    cursor: default;
}

.elements-panel-header {
    height:40px;
    position: absolute;
    top: 0px;
    left: 0px;
    /*padding: 5px;*/
    right: 0px;
    background-color: #272c33;
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
}

.elements-panel-header-inner {
    height:40px;
    position: absolute;
    top: 0px;
    left: 35px;
    right: 0px;
    background-color: #3f4652;
    color: #ffffff;
    padding: 5px;
}

.elements-panel-header-icon {
    width: 35px;
    height: 100%;
    background: #72A230;
}

.elements-panel-header-icon i {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 8px;
    cursor: pointer;
}

.elements-panel-header-icon.active {
    background-color: #3f4652;
}

.rotate {
    /*transform: rotate(-90deg);*/
}


#explorerLayerElements #explorerLayerElementsTree
{
  margin-top: 25px;
}

#explorerLayerElements
{
   background-color: transparent;
}



#explorerLayerElements .tree {
    position: absolute;
    top: 35px;
    bottom: 0px;
    width: 95%;
}

#explorerLayerElements .list-group .list-group-item {
    padding: 0px;
    background-color: transparent;
    border: 0px solid #ddd;
}

#explorerLayerElements .schema-element a {
    width: 100%;
    height: 20px;
    overflow: hidden;
    /* border: solid 1px #999999; */
    /* background-color: #CCC; */
    margin: 1px;
    padding-left: 5px;
    z-index: 0;
    cursor: move;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

}

#explorerLayerElements  .schema-folder {
    width: 100%;
    height: 20px;
    overflow: hidden;
    margin: 1px;
    padding-left: 5px;
    z-index: 0;
    font-weight: bold;
    cursor: move;
    color: #ccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor:default;
}

#explorerLayerElements .schema-container .list-group {
    /*  border: 1px dotted #ccc;
      min-height: 35px;*/
}

#explorerLayerElements   .schema-container .list-group-item {
    position: relative;
    display: block;
    padding: 0px 0px;
    padding-left: 10px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 0px solid #ddd;
}

#explorerLayerElements   .element-disabled {
  color: #85878c;
}

#elementsPanel .report-properties-block {
  border-bottom: 1px solid #fff;
  margin-bottom: 15px;
}

#elementsPanel .scroller {
position: absolute;
    top: 50px;
    bottom: 0px;
    overflow-y: scroll;
    padding-bottom: 50px;
    width:240px
}

#explorerIndicatorProperties label[for]
{
  padding-right: 5px;
    font-size: 11px;
}
