<div id="explorerDropArea" class="container-fluid">
    <wst-explorer-filter-area query="query" ></wst-explorer-filter-area>
    <wst-explorer-order-area query="query" ></wst-explorer-order-area>
    <!--ng-if="selectedReport.reportType == 'grid' || selectedReport.reportType == 'vertical-grid' || selectedReport.reportType == 'dxGrid'"-->
    <wst-explorer-column-area report="report" query="query" on-select-column="itemSelected"></wst-explorer-column-area>

    <button  id="queryExecute" class="btn btn-danger queries-run-button" ng-show="!interactiveMode" class="pull-right" ng-click="processStructure(true);"  style="padding: 3px 10px;" ng-disabled="!query.columns || query.columns.length == 0"><i class="fa fa-bolt hand-cursor" ></i></button>

    <wst-pro-explorer-options on-clear-cache-and-refresh="processStructure"></wst-pro-explorer-options>

</div>

<!-- INDICATOR -->
