<!--<div class="nd-slider" style="position: relative;">
    <table style="width: 100%;">
        <tr>
            <td style="width: 10%;text-align: center;"><span ng-bind="min"></span></td>
            <td style="width: 80%;">
                <input class="form-control" type="range" ng-mouseup="onBlur()"
                       min="{{min}}" max="{{max}}" step="{{step}}" value="{{ngModel}}"
                       ng-model="ngModel" ng-disabled="ngDisabled" />
            </td>
            <td style="width: 10%;text-align: center;"><span ng-bind="max"></span></td>
        </tr>
    </table>
</div>-->

<div class="slider"></div>
