<!-- theme javascripts.html-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="themes/xwst/js/main-controller.js"></script>
    <script src="themes/xwst/js/menus.js"></script>
    <script src="angular-editable-text/dist/angular-editable-text.min.js"></script>
    <script src="angular-ui-grid/ui-grid.min.js"></script>

    <script src="d3/d3.min.js" charset="utf-8"></script>

    <script src="javascript-detect-element-resize/jquery.resize.js"></script>
	  <script src="angular-gridster/dist/angular-gridster.min.js"></script>

    <script src="ng-material-floating-button/src/mfb-directive.js"></script>

    <script type="text/javascript" src="angular-ui-tree/dist/angular-ui-tree.js"></script>

    <script src="numeral/min/numeral.min.js"></script>

    <script src="utatti-perfect-scrollbar/dist/perfect-scrollbar.js"></script>
    <script src="angular-perfect-scrollbar/src/angular-perfect-scrollbar.js"></script>
    <!--<script src="js-xlsx/dist/xlsx.min.js"></script>
    <script src="file-saver/dist/FileSaver.min.js"></script>-->
