<div class="row">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{formLabel}}</h3>
                <div class="panel-options">

                </div>
            </div>
            <div class="panel-body" style="min-height: 200px;">

                <form name="myForm">

                    <form-builder object="model" definition="definition" ></form-builder>





                </form>



            </div>


        </div>
        <div class="container-fluid">
            <button ng-click="modalOptions.close()" class="btn btn-gray btn-single" ng-i18next="Cancel"></button>
            <button type="button" ng-disabled="myForm.$invalid || entity.attributes.length === 0" ng-click="modalOptions.ok();" class="btn btn-info btn-single pull-right" ng-i18next="Save"></button>
        </div>



</div>
