

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{formLabel}}</h3>
                <div class="panel-options">
                  <button type="button" ng-disabled="myForm.$invalid || entity.attributes.length === 0" ng-click="modalOptions.ok();" class="btn btn-info btn-single pull-right" ng-i18next="Save"></button>
                  <button ng-click="modalOptions.close()" class="btn btn-gray btn-single  pull-right" ng-i18next="Cancel"></button>

                </div>
            </div>
            <div id="modalPanelBody" class="panel-body" style="min-height: 200px;">





            </div>

            <div id="modalPanelBody" class="panel-footer" >


            </div>

        </div>
