<div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" ng-i18next="Password change"></h3>
                <div class="panel-options">

                </div>
            </div>
            <div class="panel-body" style="min-height: 200px;">

                <form name="myForm">

                  <div class="col-md-12" style="padding: 10px;">
                          <fieldset>
                              <div class="input-group">
                                <input id="password" name="pwd1" type="password" ng-model="pwd1" placeholder="Type your new password..." ng-change="validationInputPwdText(pwd1)" required class="form-control no-right-border">
                                <span class="input-group-addon">
                                  <div ng-style="checkpwdStrength"></div>
                                </span>
                              </div>
                          </fieldset>
                          <br>

                          <fieldset>
                              <div class="form-group">
                                  <input name="pwd2" type="password" class="form-control" ng-model="pwd2" placeholder="retype your new password..." required/>
                              </div>
                          </fieldset>


                  </div> <!-- /widget-body -->
                 <div ng-if="pwd1 != pwd2" class="alert alert-danger">{{passwordAlertMsg}}</div>

                </form>



            </div>


        </div>
        <div class="container-fluid">
            <button ng-click="modalOptions.close()" class="btn btn-gray btn-single" ng-i18next="Cancel"></button>
            <button type="button" ng-disabled="myForm.$invalid || pwd1 != pwd2 || isWeak == true" ng-click="modalOptions.ok();" class="btn btn-info btn-single pull-right" ng-i18next="Submit"></button>
        </div>



</div>
